# Ignore the compiled output.
dist/

# TypeScript incremental compilation cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json